#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"

//#define chinese_resource

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDB_TOOLBAR   BITMAP         "main.bmp"

IDA_RUN ACCELERATORS
{
    VK_F7,         IDM_EXE_RUN, VIRTKEY
    VK_F9,         IDM_EXE_BRK, VIRTKEY
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDI_MAIN           ICON           "main.ico"

#ifdef chinese_resource
#include "wedis_cn.rc1"
#else
#include "wedis_en.rc1"
#endif


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
VS_VERSION_INFO VERSIONINFO
    FILEVERSION     1,0,0,1
    PRODUCTVERSION  1,0,0,1
    FILEOS          VOS_NT_WINDOWS32
    FILETYPE        VFT_APP
    FILESUBTYPE     VFT2_UNKNOWN
    FILEFLAGSMASK   VS_FF_DEBUG | VS_FF_PRERELEASE | VS_FF_PATCHED | VS_FF_PRIVATEBUILD | VS_FF_INFOINFERRED | VS_FF_SPECIALBUILD
    FILEFLAGS       0
{
    BLOCK "StringFileInfo"
    {
        BLOCK "080404B0"
        {
            VALUE "Comments", "\0"
            VALUE "CompanyName", "warmcode.net\0"
            VALUE "FileDescription", "wedis\0"
            VALUE "FileVersion", "1, 0, 0, 1\0"
            VALUE "InternalName", "wedis\0"
            VALUE "LegalCopyright", "Copyright ? 20120\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "wedis.exe\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "wedis\0"
            VALUE "ProductVersion", "1, 0, 0, 1\0"
            VALUE "SpecialBuild", "\0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0804, 0x04B0
    }
}

#ifndef NO_MANIFESTS
1 RT_MANIFEST "wedis.mft"
#endif
