#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDB_CHIP           BITMAP         "chips.bmp"


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDB_TOOLBAR_MAIN   BITMAP         "toolbar.bmp"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
ID_MAIN MENU
{
    POPUP "&File"
    {
        MENUITEM "&Connction", IDM_CONNECTION_POOL
        MENUITEM SEPARATOR
        MENUITEM "&Preference", IDM_FILE_CLOSE
        MENUITEM SEPARATOR
        MENUITEM "&Exit", IDM_EXIT
    }
    POPUP "&Debug"
    {
       MENUITEM "Network", IDM_NETWORK 
    }
    POPUP "&Help"
    {
        MENUITEM "&About...", IDM_ABOUT
    }
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_ABOUT DIALOGEX 20, 20, 175, 75
STYLE DS_MODALFRAME | DS_SETFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW | WS_EX_STATICEDGE
FONT 8, "MS Sans Serif", 0, 0, 1
{
    DEFPUSHBUTTON   "OK", IDOK, 67, 57, 50, 14, WS_GROUP, WS_EX_LEFT
    CONTROL         "", IDC_RS, WC_STATIC, WS_GROUP | SS_BITMAP, 7, 7, 20, 20, WS_EX_LEFT
    CTEXT           "http://warmode.net", IDC_STATIC, 43, 11, 64, 11, SS_CENTER, WS_EX_LEFT
    CTEXT           "wedis", IDC_STATIC, 21, 30, 103, 11, SS_CENTER, WS_EX_LEFT
    CTEXT           "wedis", IDC_STATIC, 3, 44, 147, 10, SS_CENTER, WS_EX_LEFT
}

// TODO 网络调试
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_NETWORK DIALOGEX 0, 0, 252, 80
STYLE DS_MODALFRAME | DS_SETFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW | WS_EX_STATICEDGE
FONT 8, "MS Sans Serif", 0, 0, 1
{
    DEFPUSHBUTTON   "CONNECT", IDC_BUTTON_OK,        2,  2, 48, 16, WS_GROUP, WS_EX_LEFT
    DEFPUSHBUTTON   "CLOSE",   IDC_BUTTON_CLOSE,    52,  2, 48, 16, WS_GROUP, WS_EX_LEFT

    DEFPUSHBUTTON   "ZSET"   , IDC_BUTTON_STRING,    2, 20, 48, 16, WS_GROUP, WS_EX_LEFT
    DEFPUSHBUTTON   "STRING" , IDC_BUTTON_ZSET,     52, 20, 48, 16, WS_GROUP, WS_EX_LEFT
    DEFPUSHBUTTON   "HASH"   , IDC_BUTTON_HASH,    102, 20, 48, 16, WS_GROUP, WS_EX_LEFT
    DEFPUSHBUTTON   "LIST"   , IDC_BUTTON_LIST,    152, 20, 48, 16, WS_GROUP, WS_EX_LEFT
    DEFPUSHBUTTON   "SET"    , IDC_BUTTON_SET,     202, 20, 48, 16, WS_GROUP, WS_EX_LEFT
    
    DEFPUSHBUTTON   "KEYS"   , IDC_BUTTON_KEYS,      2, 38, 48, 16, WS_GROUP, WS_EX_LEFT
    DEFPUSHBUTTON   "SELECT" , IDC_BUTTON_SELECT,   52, 38, 48, 16, WS_GROUP, WS_EX_LEFT

    DEFPUSHBUTTON   "EXIT"   , IDC_BUTTON_EXIT,      2, 56, 48, 16, WS_GROUP, WS_EX_LEFT
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_CONNECTION_CONFIG DIALOGEX 0, 0, 201, 133
STYLE DS_ABSALIGN | DS_MODALFRAME | DS_SETFOREGROUND | DS_SYSMODAL | DS_SETFONT | WS_CAPTION | WS_POPUP | WS_SYSMENU
FONT 8, "MS Sans Serif", 0, 0, 1
{
    PUSHBUTTON      "OK", IDOK, 55, 115, 40, 15, 0, WS_EX_STATICEDGE
    PUSHBUTTON      "Cancel", IDCANCEL, 119, 114, 38, 16, 0, WS_EX_STATICEDGE
    LISTBOX         IDC_LST_COLORS, 4, 5, 120, 101, WS_TABSTOP | WS_VSCROLL | NOT WS_BORDER | LBS_NOINTEGRALHEIGHT | LBS_NOTIFY, WS_EX_TRANSPARENT | WS_EX_STATICEDGE
    CONTROL         "", IDC_STATIC, WC_STATIC, SS_ETCHEDHORZ, 5, 111, 189, 1, WS_EX_LEFT
    GROUPBOX        "color", IDC_STATIC, 126, 1, 73, 91, 0, WS_EX_LEFT
    LTEXT           "forecolor", IDC_STATIC, 135, 15, 43, 9, SS_LEFT, WS_EX_LEFT
    LTEXT           "backcolor", IDC_STATIC, 135, 49, 53, 11, SS_LEFT, WS_EX_LEFT
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_PREFERENCE DIALOGEX 0, 0, 201, 133
STYLE DS_ABSALIGN | DS_MODALFRAME | DS_SETFOREGROUND | DS_SYSMODAL | DS_SETFONT | WS_CAPTION | WS_POPUP | WS_SYSMENU
FONT 8, "MS Sans Serif", 0, 0, 1
{
    PUSHBUTTON      "OK", IDC_CONFIG_DONE, 55, 115, 40, 15, 0, WS_EX_STATICEDGE
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_GOTOLINE DIALOGEX 0, 0, 187, 68
STYLE DS_MODALFRAME | DS_SETFONT | WS_CAPTION | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW | WS_EX_STATICEDGE
CAPTION "goto line"
FONT 8, "MS Sans Serif", 0, 0, 1
{
    LTEXT           "Please enter the address you want to jump\nto......", IDC_STATIC, 9, 7, 170, 18, SS_LEFT, WS_EX_LEFT
    EDITTEXT        IDC_ADDRESS, 49, 37, 83, 13, NOT WS_BORDER | ES_AUTOHSCROLL, WS_EX_STATICEDGE
    LTEXT           "Address:", IDC_STATIC, 11, 39, 36, 11, SS_LEFT, WS_EX_LEFT
    PUSHBUTTON      "OK", IDC_BTN_OK, 148, 36, 30, 14, 0, WS_EX_LEFT
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
STRINGTABLE
{
    ID_COLOR_SPLITBAR             "Split bar"
    ID_COLOR_CURLINE              "Current line"
    IDS_DATAVIEW                  "Data View"
    IDS_CODEVIEW                  "Code View"
    IDS_REGVIEW                   "Register View"
    IDS_STACKVIEW                 "Stack View"
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDA_RUN ACCELERATORS
{
    VK_F7,         IDM_EXE_RUN, VIRTKEY
    VK_F9,         IDM_EXE_BRK, VIRTKEY
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDI_MAIN           ICON           "main.ico"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
VS_VERSION_INFO VERSIONINFO
    FILEVERSION     1,0,0,1
    PRODUCTVERSION  1,0,0,1
    FILEOS          VOS_NT_WINDOWS32
    FILETYPE        VFT_APP
    FILESUBTYPE     VFT2_UNKNOWN
    FILEFLAGSMASK   VS_FF_DEBUG | VS_FF_PRERELEASE | VS_FF_PATCHED | VS_FF_PRIVATEBUILD | VS_FF_INFOINFERRED | VS_FF_SPECIALBUILD
    FILEFLAGS       0
{
    BLOCK "StringFileInfo"
    {
        BLOCK "080404B0"
        {
            VALUE "Comments", "\0"
            VALUE "CompanyName", "warmcode.net\0"
            VALUE "FileDescription", "wedis\0"
            VALUE "FileVersion", "1, 0, 0, 1\0"
            VALUE "InternalName", "wedis\0"
            VALUE "LegalCopyright", "Copyright ? 20120\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "wedis.exe\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "wedis\0"
            VALUE "ProductVersion", "1, 0, 0, 1\0"
            VALUE "SpecialBuild", "\0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0804, 0x04B0
    }
}
